body {
  background-color: #3caea3;
}

.status-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

content {
  display: flex;
  width: 85%;
  height: 100%;
  flex-direction: row;
}

.box {
  padding: 0.8em;
  width: fit-content;
  border-radius: 0.2em;
  background-color: #a82aac;
}
